/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.main-container {
    padding: 3rem 1.5rem;
    text-align: center;
}
